.containerDetail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
 
  .datos {
    display: inline-block;
    flex-wrap: wrap;
    grid-column: 1 / -1;
    text-align: center;
    font-size: 27px;
  }
  .div2{
    display: flex;
    justify-content: center;
  }
  
  .img{
    grid-row: 2 / 4;
  }
  .img img{
    width: 70vh;
  }
  
  .summary {
    grid-column: 2 / -1;
    justify-content: flex-start;
    text-align: justify;
  }
  
  .healthScore {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px ;
    color: black;
    background-color: #36eb09;
    border: 1px solid #2bdd13;
    font-weight: bold;
    font-size: 20px;
  }
  .healthScore2 {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px ;
    color: black;
    background-color: #ddec88;
    border: 1px solid #d6ee4f;
    font-weight: bold;
    font-size: 20px;
  }
  .healthScore3 {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px ;
    color: black;
    background-color: #f75b1d;
    border: 1px solid #ee6b2f;
    font-weight: bold;
    font-size: 20px;
  }
  
  .steps {
    grid-column: 1 / -1;
    text-align: justify;
  }
  li{  
      list-style-type: decimal;
      font-size: 16px;
      font-weight: bold;
  }

  .steps h4{
    text-align: center;
    
  }
  
  .diets {
    grid-column: 1 / -1;
  }
  .li{
    border: 1px solid black;
    margin: 3px;
    padding: 5px;
    
  }
  .diets li{
    
    list-style-type: none;
  }
  
  .btn button{
    background-color: #1a202c;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 40px;
  }

  .btn button:hover{
    cursor:pointer;
    background-color: #d6ee4f;
    color: #1a202c;
  }

  