.container{
    display: flex;
    backdrop-filter: blur(30px);
    margin-bottom: 3px;
    
}
.containerBorder{
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 250vh;
    height: 65px;
    margin:1px;
    border: 1px solid black;
    border-radius: 5px;
    gap: 300px;
;
}
.btnImage{
    width: 70px;
    height: 60px;
    margin: 2.5px 0px 0px 2px;
    background-image: url("../../fondo/ramen-png.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
    border: none;

    
}

.btn{
    background-color: #1a202c;
    color: #fff;
    border: none;
    padding: 6px 12px;
    margin: 0px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}




.btnImage, .btn:hover{
    cursor:pointer;
    background-color: #d6ee4f;
    color: #1a202c;
}

.btn svg{
    width: 50px;
    height: auto; 
}

.btnActive{
    background-color: #e2f06b;
    color: #1b1919;
    border: none;
    border: 1px solid #161718;
    padding: 6px 12px;
    margin: 0px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
