.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: relative;
    text-decoration-line: none;
  }
  
  .card {
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    text-decoration-line: none;
  }
  .card h2{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
  }
  .card:hover {
    cursor:pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  }
  
  .name {
    background-color: #fff;
    padding: 10px;
    text-decoration-line: none;
  }
  
  .name h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
  }
  
  .image img {
    width: 95%;
    height: 140px;
    object-fit: cover;
  }

.diets{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:flex-start;
  background-color: #fff;
  text-align: justify;
}

.diets div {
  border: 1px solid rgb(235, 185, 110);
  border-radius: 6px;
  padding: 2px;
    margin: 3px;
    font-size: 15px;
    font-weight: 600;
    color: #333;
  }