.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid goldenrod;
    border-radius: 8px;
    margin-top: 2px;
    padding: 5px;
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .container label {
    margin: 10px 0;
    font-weight: bold;
    display: flex;
    flex-direction: initial;
    margin-left: 10px;
  }
  
  .container input,
  .container textarea {
    width: 96%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .container input[type="checkbox"] {
    margin: 5px 10px 5px 0;
  }
  
  .container button[type="submit"] {
    background-color: #1a202c;
    color: #fff;
    border: none;
    padding: 8px 14px;
    margin: 2px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .container button[type="submit"]:hover {
    background-color: #d6ee4f;
    color: #1a202c;
  }
  .container button:disabled{
    cursor: no-drop;
  }
  .container .errors {
    color: red;
    margin-bottom: 10px;
    font-style:italic;
  }

  .diets {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    margin: 10px;
  }

  .diets p{
    margin: 8px;
    font-size: small;
    font-weight: bold;
    text-align:start;
  }
  .inputsDiets{
    display: grid;
    grid-gap: 0px;
  }

  .inputsDiets input{
    cursor: pointer;
  }
  
  .container textarea{
   resize: none;
  }

