.paginate ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.paginate li {
    list-style-type: none;
    
}

.paginate button:hover{
    cursor: pointer;
}