.paginationContainer {
    display: flex;
    justify-content: center;
  }
  
  .paginate {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .paginate button:disabled{
    cursor: no-drop;
  }
  
  .pageBtn {
    background-color: #1a202c;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin: 0 4px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .pageBtn:hover {
    background-color: #d6ee4f;
    color: #1a202c;
  }
  
  .prevBtn {
    margin-right: 16px;
  }
  
  .nextBtn {
    margin-left: 16px;
  }
  
  .pageNum {
    font-size: 16px;
    margin: 0 16px;
  }
  