.container{
    display: flex;
    border: 1px;
    margin: 10px 30px 10px 0px;
    
}

.input{
    margin: -4px -15px 10px 0px;
    border-radius: 10px;
    height: 30px;
    width: 400px;
}

.container button{
   border-radius: 80px;
   margin-left: 5px;
}

.container button:hover{
    cursor: pointer;
}

.container svg:hover{
    cursor: pointer;
    color: rgb(214, 199, 67);
}