.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.button {

  background-color: #1a202c;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin: 0 4px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .button:hover{
    cursor: pointer;
  }
  

  
 
  
  